/* 
   This file uses much from the MS book of dark arts. You may want to remove some of the gradient filters
   and just use solid background colours instead if you feel the U.I. is sluggish. 
*/
/* The slider is given this class whenever the value has not been set by the user */
.fd-slider-no-value .fd-slider-handle
        {
        /* Lower opacity handle image bundled as base64 as IE8 will not enable us to lower the opacity by using the Alpha filter. */
        background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjVJREFUeNrMVE1PE0EYfmZ32a1ugXVrS0FsoKWKxBps4kFNOBnjybPR/8Nv8A+Y1K+DxgMeIMYLngiBxGyQKK1NWxq3VpGW7tc4O25C024rBw5MMpnknXmfeeZ9nncIpRSnOQSc8jj7gFJYkLCBZxs69IkclHNzkJUk37A6NXTau2jsb+NJvkFDBCC9MYYlRF9sZZLJ5L3rsdFsXoU0qxAhIhByREE//aF2odg0zP3aKh4vfmX53kCGnNlyIa7r+v278ejcnSiVNYnFQOF5FDI7shQl8oX0+MJTxxJ/LBdes5R6N9PeJ4uYTt+c1MczuuBKDRswLfDT/iTBPE8E8UEqll37ffVWBVhhIWcQoAx17AqxbbHYAsoE1KHoq5NEQFwIYiahLzDAtWGACgOc2GvbKLXgDZXTp0ojGs8BWoMAJVYsUjs6oUc8rw+j3zb18i9tekYdY2KMMJd6IZ0pMHY2wzqsVg7M//jQwe52FZdnp1SRYJQVy092vGNRpOCSAxfUKhq17vqFAXaw+sropNIp71ouoUkC0UaYMZlzRLbp+q9kmjdtStulHdP+8MbgOUMALay/L7Xjlza/O4/yyC1elAURkwoH9oFQ7Xi0svP5Z/nd883mystvPGdQp3Bj/1MtgRu3s1h6OI/5fAJTMyo/UNk7hLFRx8e3BrbWv/gV9xl2Gzu09bgfAd8SsWCNBNu+/k02zWC1eluPhH2wAVMxAFa6SuMENfOf6Z7oczhz/+FfAQYATvji+0cdRCAAAAAASUVORK5CYII==) repeat;
        }
.fd-slider-handle
        {
        /* Nasty - but what isn't when polyfilling IE - using an expression to not draw focus outline */
        outline:expression(hideFocus='true');
        }
.fd-slider-bar
        {  
        /* Using the gradient filter. Colour strings in AARRGGBB format */
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffececec',endColorstr='#ffcccccc')";
        }
.fd-slider-vertical .fd-slider-bar
        {  
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffececec',endColorstr='#ffcccccc')";
        }
.fd-slider-range
        {          
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ff66cccc',endColorstr='#ff33ccff')";
        }
.fd-slider-vertical .fd-slider-range
        {  
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff66cccc',endColorstr='#ff33ccff')";
        }
/* 
   We have to use the inner div, not the track bar, to simulate the glow effect "onfocus". 
   The "blur" filter is now being used to create the effect as the "shadow" filter was
   just too insane across different IE versions and almost impossible to position correctly,
   even with all the zoom hacks in the world thrown its way.
   
   Positioning this was a lesson in trial & error as the filter appears to affect axis offsets
   in unexplainable ways. Head down, chin up and good luck!   
*/
.fd-slider-inner
        {  
        display:none;      
        position:absolute;        
        height:2px;
        border:1px solid #bbf;
        background:#bbf;      
        top:4px;        
        bottom:none;
        left:4px;
        right:12px;              
        z-index:2;       
        margin:0;
        padding:0;
        overflow:hidden;
        line-height:4px;        
        -ms-filter:"progid:DXImageTransform.Microsoft.Blur(pixelradius=3.5)"; 
        }
/* Reposition the "blur" filter for the vertical slider */
.fd-slider-vertical .fd-slider-inner
        {        
        width:2px;
        height:auto;     
        top:4px;
        bottom:12px;
        left:4px;
        right:auto;
        }
/* Display the inner "glow" onfocus */
.fd-slider-focused .fd-slider-inner
        {
        display:block;
        }
/* disabled sliders */
.fd-slider-disabled .fd-slider-bar
        {
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ff222222',endColorstr='#ff000000')";
        }
.fd-slider-disabled .fd-slider-range
        {
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff666666',endColorstr='#ff333333')";
        }        
.fd-slider-vertical.fd-slider-disabled .fd-slider-bar
        {
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff666666',endColorstr='#ff333333')";
        }
.fd-slider-vertical.fd-slider-disabled .fd-slider-range
        {
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff666666',endColorstr='#ff333333')";
        }